@import "mapbox-gl/dist/mapbox-gl.css";

@font-face {
  font-family: "Custom";
  src: url(@/assets/fonts/Suisse-Intl-Regular.otf) format("truetype");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "Custom";
  src: url(@/assets/fonts/Suisse-Intl-Book.otf) format("truetype");
  font-display: swap;
  font-weight: 600;
}
@font-face {
  font-family: "Custom";
  src: url(@/assets/fonts/Suisse-Intl-Bold.otf) format("truetype");
  font-display: swap;
  font-weight: 800;
}

*,
:before,
:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  line-height: $line-height;
  overflow-x: hidden;
}

body {
  background-color: $base-color;
  font-family: "Custom", sans-serif;
  color: $text-color;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $text-color;
}

button,
input {
  border-radius: $radius;
}

button {
  border: 1px solid transparent;
  background-color: transparent;
  font-size: 1rem;
}

input,
textarea {
  caret-color: $text-color;
  background-color: transparent;
  color: $text-color;
  &:focus {
    border: 2px solid $text-color;
    outline: $text-color;
  }

  &::placeholder {
    color: $text-color-faded;
  }
}
/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $primary-color inset !important;
  -webkit-text-fill-color: $text-color !important;
}
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0 !important;
  color: $text-color;

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px $primary-color inset !important;
    border: 2px solid $primary-color !important;
    outline: $primary-color !important;
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  -webkit-appearance: none; /* Remove default icon in WebKit browsers */
  -moz-appearance: none; /* Remove default icon in Firefox */
  appearance: none !important; /* Generic way to remove default icon */
  opacity: 0;
  width: 30px;
  height: 36px;
  position: absolute;
  margin-left: -2rem;
  z-index: 1;
  cursor: pointer;
  border-radius: $radius;
  color: transparent;

  @media (min-width: $big-tablet-screen) {
    width: 450px;
  }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  display: none;
}

.button-primary,
.button-secondary {
  display: flex;
  padding: 0.75rem 1.75rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: calc($radius * 4);
  transition: transform 0.2s ease-in-out;
  // text-shadow: black 0px 0px 1px;
  backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;
  font-weight: 500 !important;
  font-family: "Custom" !important;

  &:hover {
    transform: scale(1.02);
  }
}
.button-primary {
  background-color: $secondary-color;
  color: $primary-color;
  transition: 0.4s ease;
  position: relative;

  &:hover {
    -webkit-box-shadow: 0px 2px 4px 5px rgba(250, 255, 0, 0);
    box-shadow: 0px 2px 4px 5px rgba(250, 255, 0, 0);
  }

  &:disabled {
    opacity: 0.5;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.button-secondary {
  background-color: transparent;
  border: $secondary-color solid 2px;

  &:hover {
    transform: scale(1.02);
  }
}

.button-tertiary {
  font-size: $small-text;
  text-decoration: underline;
  color: $secondary-color;
}

.scale-on-hover {
  transition: transform 0.4s;

  &:hover {
    transform: scale(1.02) !important;
  }
}

.shadow-on-hover {
  transition: box-shadow 0.2s;

  &:hover {
    box-shadow: $shadow;
  }
}

//SCROLLBAR
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $secondary-color-faded;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $secondary-color-faded;
  border-radius: $radius;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $text-color-faded;
}

//DETAILS
details > summary {
  list-style: none;
}

details > summary::marker, /* Latest Chrome, Edge, Firefox */ 
details > summary::-webkit-details-marker /* Safari */ {
  display: none;
}

.not-selectable {
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
  -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
  user-select: none; /* Propriété standard */
}

.titles {
  font-size: calc($titles - 0.5rem);
  font-weight: $thick;

  @media (min-width: $tablet-screen) {
    font-size: $titles;
  }
}

.subtitles {
  font-size: calc($subtitles - 0.25rem);
  line-height: 1.25;
  font-weight: $skinny-thick;
  @media (min-width: $tablet-screen) {
    font-size: $subtitles;
    line-height: 1.5;
  }
}

.paragraphs {
  font-size: 1rem;
  font-weight: $skinny;
  line-height: 1.25;

  @media (min-width: $tablet-screen) {
    font-size: 1.1rem;
    line-height: 1.5;
  }
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.tags {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: $text-color;
  justify-content: center;
  background-color: $secondary-color-faded;
  border-radius: $radius;
  padding: 0.25rem 0.75rem;
  width: fit-content;
}

.fading {
  animation: fading 0.4s ease;
}

//ANIMATIONS
@keyframes fading {
  from {
    opacity: 0;
    display: none;
  }
  to {
    display: flex;
    opacity: 1;
  }
}

@keyframes slide-from-left {
  from {
    transform: translate(-20px);
  }
  to {
    transform: translate(0px);
  }
}
@keyframes slide-from-right {
  from {
    transform: translate(20px);
  }
  to {
    transform: translate(0px);
  }
}
@keyframes slide-from-top {
  from {
    transform: translateY(-3rem);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes slide-from-bottom {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes tilt {
  from {
    transform: rotate(4deg);
  }
  to {
    transform: rotate(0deg);
  }
}
